import React from "react";
import "./{{componentName}}.scss";
// {{componentName}}  插值表达式的写法
const {{componentName}}:React.FC<any> = () => {

    return (
      <div className="{{componentName}}">
        {{componentName}} 组件
      </div>
    )
}

export default {{componentName}};
